mixin displayAltarikaForm()
  - const altarikaTypes = ["أموال", "عقار"]
  h3.arabic-content.text-info أدخل تفاصيل التركة
  hr.my-2.col-10.mr-0
  .col-12.col-sm-6
  each tarikaType in altarikaTypes
    .col-12.col-lg-10
      .input-group.arabic-content.mb-2
        span.input-group-addon.addon-checkbox-right
          input(type='checkbox', id="test",
            aria-label='Checkbox for following text input')             
        span.input-group-addon.removed-border-right #{tarikaType}
        -var tip = "أدخل قيمة " + tarikaType + " المتوفى باﻷرقام"; 
        input.form-control.addon-textarea-right(name= tarikaType, 
          type='text', disabled, placeholder=0, data-toggle="tooltip", 
          data-placement="top", title=tip) 

mixin createMirathResultTable(result, fortuneType)
  -
    var tableHeaders = ["الوارث", "عدد اﻷفراد", "نصيب الفرد", 
                        "مجموع اﻷنصبه"]; 
  table.table.table-hover
    thead.text-primary.bg-light
      tr
        each header in tableHeaders
          th #{header}         
    tbody
      each warith, warithName in result
        tr
          th(scope='row') #{warithName}      
          td #{warith.count}      
          td #{warith.fortune[fortuneType].toFixed(3).replace('.',',')} 
          -let totalFortune = warith.fortune[fortuneType] * warith.count; 
          td #{totalFortune.toFixed(3).replace('.',',')}

