mixin outputRating(rating)
  - for(var i = 1; i <= rating; i++)
    span.glyphicon.glyphicon-star
  - for(var i = rating; i < 5; i++)  
    span.glyphicon.glyphicon-star-empty

mixin formatDate(timeStamp)
  -
    var monthNames = ["January", "February", "March", 
                      "April", "May", "June", "July", "August",
                      "September", "October", "November",  "December"];
  - var date = new Date(timeStamp);
  - var day = date.getDate();
  - var month = monthNames[date.getMonth()];
  - var year = date.getFullYear();
  - var output = day + ' ' + month + ' ' + year;
  = output

mixin createCards(listOfWratha)
  each people, cluster in listOfWratha 
    .card.mb-3.mt-3
        h5.card-header.text-center.arabic-content #{cluster}  
        .card-body.arabic-content
          .row
            each person in people
              .col-12.col-sm-6
                .input-group.mb-2
                  span.input-group-addon.addon-checkbox-right
                    input(aria-label=person.relationship, type='checkbox')             
                  span.input-group-addon.removed-border-right #{person.relationship}  
                  -if(!person.isSingular)          
                    input.form-control.addon-textarea-right(name=person.relationship, 
                      type='number', disabled, placeholder=0)  
                  -else         
                    input.form-control.addon-textarea-right(name=person.relationship, 
                      type='number', hidden, disabled, value=1)  

mixin displayResultTable(result)
  table.table.table-hover
    thead.text-primary.bg-light
      tr
        th الوارث    
        th عدد اﻷفراد     
        th نصيب الفرد (مال)
        th نصيب الفرد (عقار)
    tbody
      each warith, warithName in result
        tr
          th(scope='row') #{warithName}      
          td #{warith.count}      
          td #{warith.fortune.money.toFixed(2)} 
          td #{warith.fortune.property.toFixed(2)} 

mixin displayNavItems(items)
  nav.navbar.navbar-expand-sm.navbar-dark.bg-primary.arabic-content
    a.navbar-brand(href= items[0].url) #{items[0].name}      
    button.navbar-toggler.hidden-lg-up(type='button', data-toggle='collapse',
      data-target='#collapsibleNavId', aria-controls='collapsibleNavId', 
      aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #collapsibleNavId.collapse.navbar-collapse
      ul.float-xs-right.navbar-nav.mt-2.mt-lg-0
        -for(var index = 1; index < items.length; index++)
          -if(index === 1)
            li.nav-item.active
              a.nav-link(href= items[index].url) #{items[index].name}
                span.sr-only (current)
          -else            
            li.nav-item
              a.nav-link(href= items[index].url) #{items[index].name}   
      
      