mixin createCarousel(items)
    .col-12.col-sm-10.mt-3.pb-4
      #ayat-carousel.carousel.slide(data-ride='carousel').pt-4.pb-4.pr-4.pl-4.pr-sm-5.pl-sm-5
        // Wrapper for slides
        .carousel-inner
          .carousel-content.arabic-content.pr-sm-3.pl-sm-3.pr-lg-5.pl-lg-5.pb-1
            each item, index in items
              -if(index === 0)
                .carousel-item.active
                  +displayItem(item)
              -else
                .carousel-item
                  +displayItem(item)
      // Controls
      a.carousel-control-prev(href='#ayat-carousel', role='button',
                              data-slide='prev')
        span.carousel-control-prev-icon(
          style='background-image:url("/images/icon-prev.png")')
        span.sr-only Previous    
      a.carousel-control-next(href='#ayat-carousel', role='button',
                              data-slide='next')
        span.carousel-control-next-icon(
          style='background-image: url("/images/icon-next.png")')
        span.sr-only Next

mixin displayItem(item)
  p #{item.text}
  span.badge-pill سورة #{item.sura} اﻵيه (#{item.verse})

mixin createCards(listOfWratha)
  each people, cluster in listOfWratha 
    .card.mb-3.mt-3
        h5.card-header.text-center.arabic-content #{cluster}  
        .card-body.arabic-content
          .row
            each person in people
              .col-12.col-sm-6
                .input-group.mb-2
                  span.input-group-addon.addon-checkbox-right
                    input(aria-label=person.relationship, type='checkbox')             
                  span.input-group-addon.removed-border-right #{person.relationship}  
                  -if(person.isSingular)          
                    input.form-control.addon-textarea-right(name=person.relationship, 
                      type='number', hidden, disabled, value=1)  
                  -else   
                    input.form-control.addon-textarea-right(name=person.relationship, 
                      type='number', disabled, placeholder=0, data-toggle="tooltip", 
                      data-placement="top", title="أدخل عدد اﻷفراد باﻷرقام")        
                    

mixin displayResultTable(result)
  -
    var tableHeaders = ["الوارث", "عدد اﻷفراد", "نصيب الفرد (مال)",
                        "نصيب الفرد (عقار)"];
  table.table.table-hover
    thead.text-primary.bg-light
      tr
        each header in tableHeaders
          th #{header}         
    tbody
      each warith, warithName in result
        tr
          th(scope='row') #{warithName}      
          td #{warith.count}      
          td #{warith.fortune.money.toFixed(2).replace('.',',')} 
          td #{warith.fortune.property.toFixed(2).replace('.',',')} 

mixin displayNavItems(items)
  nav.navbar.navbar-expand-sm.navbar-dark.bg-primary.arabic-content
    a.navbar-brand.text-secondary(href= items[0].url) #{items[0].name}      
    button.navbar-toggler.hidden-lg-up(type='button', data-toggle='collapse',
      data-target='#collapsibleNavId', aria-controls='collapsibleNavId', 
      aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #collapsibleNavId.collapse.navbar-collapse
      ul.float-xs-right.navbar-nav.mt-2.mt-lg-0
        -for(var index = 1; index < items.length; index++)       
          li.nav-item
            a.nav-link(href= items[index].url) #{items[index].name}   

mixin addModal()
  #errorModal.modal.fade(tabindex='-1', role='dialog',
   aria-labelledby='modalTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content.arabic-content.text-warning
        .modal-header.bg-warning
          .text-right
            h5#modalTitle.modal-title خطأ في اﻹدخال
          .text-left
            button.close(type='button', data-dismiss='modal', 
            aria-label='Close')
              span(aria-hidden='true') ×
        .modal-body
          span error message